
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Barlow:wght@300&family=Bellefair&family=Josefin+Sans:wght@200&family=Karla&family=Montserrat&family=Roboto:wght@400;500&display=swap');

@keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #FEF0EF;

}
.cont__pagar{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #F61B50;
    height: 70px;
    align-items: center;
    color: #fff;
   
    img{
        width: 30px;
    }
&__simbolos{
    padding: 10px 10px;
    
  font-size: 20px;
}
&__canasta{
    padding: 10px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}
&__bolita{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    left: 30px;
    border-radius: 50px;
}
&__pagar{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    &:active{
        background-color: #ffffff;
        color: #898989;
    }
}
}
.nombre__pizza{
    color: #898989;
    margin-left: 10px;
}
.sa{
    margin-left: 20px;
}
.cont__page__carrito{
    width: 100vw;
    height: 100vh;
    background-color: #FEF0EF;
    &__pizza{
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
        padding-top: 10px;

        border-radius: 10px;
        padding-left: 10px;
        height: 120px;
        background-color: #ffffff;
        display: flex;
&__compra{
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: 60vw;
    margin-top: 50px;
    justify-content: space-between;
}
        div{
        }
        img{
            border-radius: 10px;
            object-fit: cover;
            width: 80px;
            height: 100px;
        }
    }
}
.form__pago{
    display: flex;
    flex-direction: column;
    input{
        padding: 10px 10px;
        background-color: #fff;
        color: #898989;
    }
label{
    color: #000000;
}
div{
    display: flex;
    gap: 10px;
}
button{
    margin-top: 20px;
    background-color: #F61B50;
    border: none;
    color: #fff;
    padding: 10px 10px;
    box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.20);

}

}
p{
    margin-bottom: 0;
}
.volver{
    display: flex;
 align-items: center;
 margin-left: 20px;
 padding-top: 20px;
 margin-bottom: 10px;
 
 p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    
}
img{
    filter: invert(20%) sepia(42%) saturate(6968%) hue-rotate(335deg) brightness(98%) contrast(96%);
}
}
.header{
    

   
    height: max-content;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &__title{
        margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
&__subtitle{
    color: rgb(127, 126, 126);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
&__img{
    width:50px;
    border-radius: 50px;
}
}
.body{
    padding-top: 20px;
    margin-bottom: 20vw;
  padding-left: 2.8vw;
  padding-right: 2.8vw;
  background-color: #FEF0EF;

    height: 85vh;
    background-color: #FEF0EF;
    &__title{
        font-family: 'Roboto', sans-serif;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__subtitle{
        font-size: 12px;
        color: #F61B50;
    }
    &__contcupon{
        width: 450px;
        height: max-content;
       overflow-x: auto;
       overflow-y: hidden;
       gap: 20px;
        display: flex;
       
    }
    &__cupon{
       

            width: 200px;
            height: 70px;
           text-align: justify;
           padding-left: 20px;
      margin-top: 10px;
            border-radius:10px;
            background-image: 
              radial-gradient(50px 45px at -2px 12px, transparent 11px, #000000 1px, #F61B50 0px), 
              radial-gradient(51px 45px at 100px 12px, transparent 10px, #000000 1px,  #F61B50  10px);
         
            background-size: 150px 20px  ;
            background-position: 0px 0, 100px 0;
            background-repeat-x: no-repeat;
            font-size: 10px;
            color: #fff;
            font-weight: 100;
            cursor: pointer;
       padding-top: 1vh;
       padding-bottom: 1vh;
     &__descuento{
        font-size: 30px;
     }     
    }
}
.bacgrounfcupon{
   position: absolute;
   background: linear-gradient(#f61b5248, #ffffff3f);  
   width: 92%;
   height: 90%;
   top: 10px;
   left: 8px;
}
.relativo{
    position: relative;
    
}
.prueba{
    overflow-x: auto;
    padding-bottom: 20px;
}
.slider-container-detalles{
    display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    img{
        scroll-snap-align: center;
   
        flex: 0 0 100%;
        width: 380px;
        height: 50vh;
        object-fit: cover;
}
}
.slider-flecha{
    width: 20px;
}
.slider-container{
    display: flex;
    width: 350px;
    height: 220px;
    margin-top: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    img{
        scroll-snap-align: center;
        border-radius: 20px;
        flex: 0 0 100%;
        width: 400px;
        height: 200px;
        object-fit: cover;
}
}
.backgraund-detalles{
    position: absolute;
    z-index: 2;
   
    width: 305vw;
    height: 50vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #000000); 
}
.backgraund{
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    width: 1050px;
    height: 200px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #000000); 
}
.slider-title{
    position: absolute;
    z-index: 3;
    color: #fff;
    bottom: 20px;
    width: 340px;
align-items: center;
    display: flex;
    justify-content: space-between;
    left: 10px;
    
    bottom: -150px;
}
.slider-title-detalles{
    position: absolute;
    z-index: 3;
    color: #fff;
    bottom: 20px;
    width: 95%;
align-items: center;
    display: flex;
    justify-content: space-between;
    left: 2vw;
    
top: 12vw;
}
.slider-title-detalles-aling{
    display: flex;
    gap:10px;
    align-items: center;
    p{
        margin-bottom: 0;
    }
}
.d{
    position: relative;
}
footer{
  width: 100%;
  background-color: #FEF0EF;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
 position: fixed;
 width: 100%;
 z-index: 5;
 bottom:0px;
 height: 70px;
 padding-top: 20px;
  
}
.transparente{
    position: absolute;
    z-index: 6;
    background-color: #FEF0EF;
    width: 80px;
    height: 80px;
    left: 50vw;
    margin-left: -40px;
    top: -40px;
    border-radius: 50px;
  
}
.transparente2{
    position: absolute;
    z-index: 6;
    background-color: #fef0efd1;
    width: 50px;
    height: 50px;
    left: 50vw;
    margin-left: -50px;
    top: -40px;
    border-radius: 50px;
  
}
.iconos{
    width: 20px;
}
.links{
    display: flex;
    gap:10px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #605e5e;
    img{
        filter: invert(39%) sepia(3%) saturate(247%) hue-rotate(314deg) brightness(88%) contrast(83%);
        &:visited{
            filter: invert(32%) sepia(97%) saturate(6910%) hue-rotate(337deg) brightness(101%) contrast(93%); 
         }
    }
    &:active{
       filter: invert(32%) sepia(97%) saturate(6910%) hue-rotate(337deg) brightness(101%) contrast(93%); 
    }
    
}

.transparente3{
    position: absolute;
    z-index: 6;
    background-color: #fef0efd1;
    width: 50px;
    height: 50px;
    left: 50vw;
    margin-left: -0px;
    top: -40px;
    border-radius: 50px;
  
}
.transparente4{
    text-align: center;
    position: absolute;
    z-index: 6;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    left: 50vw;
    margin-left: -35px;
    top: -65px;
    border-radius: 50px;
    box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.20);
    img{
        width: 40px;
margin-top: 15px;
filter: invert(39%) sepia(3%) saturate(247%) hue-rotate(314deg) brightness(88%) contrast(83%);
    }
}
.busqueda{
    width: 100%;
justify-content: center;
 background-color: #FEF0EF;
 display: flex;
 align-items: center;
    &__input{
        background-color: #fff;
        border: none;
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        margin-top: 20px;
        color: #000000;
width: 100%;
margin-right: 5vw;
    }
}
.lupa{
    margin-top: 20px;
    margin-left: -50px;
    width: 20px;
    height: 20px;
    filter: invert(20%) sepia(42%) saturate(6968%) hue-rotate(335deg) brightness(78%) contrast(96%);
}
.cont__detalles{
    width: 100%;
    height: max-content;
    background-color: #252525;
    padding-top: 20px;
    color: #fff;
    padding-left: 20px;
    &__title{
        color: #fff;
        font-size: 20px;
      
        letter-spacing: 1.5px;
    }
    &__detalles{
        display: flex;
        gap:30px;
        margin-top: 20px;
        font-size: 15px;
        
    }
    &__descripcion{
margin-top: 10px;
b{
    font-family: 'Montserrat', sans-serif;

}

p{
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;

}


p{
    margin-top: 10px;
}    
}
}
.rojo{
    padding: 15px 10px;
    background-color: #F61B50;
    border-radius: 50px;
}
.amarillo{
gap: 10px;
    padding: 10px 20px;
    background-color: #FF7200;
    border-radius: 50px;
    display: flex;
    align-items: center;
img{
    width: 25px;
}
}
.comentario{
    padding-top: 20px;
    color: #fff;
    background-color: #252525;
    display: flex;
    width: 100vw;
    padding-left: 5vw;
    gap: 10px;
    padding-bottom: 50px;
    
    &__img{
        width: 50px;
        height: 40px;
        border-radius: 50%;
    }
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
    p{
        margin-top: 5px;
        font-family: 'Montserrat', sans-serif;
    b{
        font-family: 'Montserrat', sans-serif;

    }
    }
    &__comentario{
        width: 72vw;
    }
}
.f{
    width: 100%;
}
.pizzita{
    width: 100px;
    filter: invert(66%) sepia(0%) saturate(1975%) hue-rotate(163deg) brightness(90%) contrast(79%);
}
.absoluto{
    position: absolute;
    color: #949292;
 top: 200px;
    right: 2vw;
width: 100%;
  align-items: center;
  text-align: center;
  
}
.blanco{filter: invert(98%) sepia(44%) saturate(2%) hue-rotate(49deg) brightness(107%) contrast(101%);}
.page__pedidoprogreso{
    padding-top: 20px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #FEF0EF;
    &__cont{
     
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        background-color: #fff;
        height: 50vh;
        &__animation{
            text-align: center;
            position: relative;
        }
    }
    &__text{
        h1{
            width: 80vw;
            margin-left: 10vw;
        }
      
        
    }
    img{
 
    
     
        max-width: 200px;
        

        animation: myAnim 1s ease 0s 1 normal forwards;
    }
    
}
.butonAceptar{
    position: absolute;
    box-shadow: -1px 2px 12px 0px rgba(0,0,0,0.20);

    left: 50vw;
    border-radius: 10px;
    color: #fff;
    margin-top: 100px;
    margin-left: -175px;
    width: 350px;
    font-size: 20px;
    padding: 20px 10px;
    background-color: #F61B50;
}
.poquito{
    
        color: #949292;
    
}